.login{
    width: 100vw;
    height: 100vh;
    background-image: url(~assets/login.png);
    background-size:cover ;
    position: relative;

    :global{
        .loginContainer {
                width: 440px;
                height: 360px;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
        }
        
            .loginContainer img {
                width: 200px;
                height: 60px;
                margin: 0 auto 20px;
                display: block;
        }
    }
}
